:root {
  /* Set the value of this variable with sliders.js */
  --redVal: 0;
  --greenVal: 0;
  --blueVal: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #660000;
}

.sidenav {
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #5a0000;
  overflow-x: hidden;
  margin: auto;
  border: 5px solid #730000;
}

.sidenav button {
  /* margin-left: -13%; */
  background-color: #5a0000;
  border: 5px solid #5a0000;
  display: block;
  transition: 0.3s;
}

.sidenav button:hover {
  background-color: #730000;
  border: 5px solid #730000;
}

.sidenav button.active {
  background-color: #730000;
  border: 5px solid #730000;
}

.tabcontent {
  display: none;
  color: #f1f1f1;
  margin-left: 10%;
  /* padding-left: 1%; */
  width: 90%;
  height: 100%;
}

.tabcontent a {
  padding: 30px;
  color: #f1f1f1;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
}

.mapdirections {
  width: 31.7%;
  height: 100%;
  display: block;
  padding: 34.4%;
}

.slidecontainer {
  width: 80%;
  margin-left: 10%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 20%;
  background: #4e0000;
  outline: none;
  border: #310000 10px;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 100px;
  background: #c77570;
  border: #310000 10px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 50px;
  background: #04AA6D;
  cursor: pointer;
}

.colorbox {
  width: 50%;
  height: 50%;
  background: rgb(var(--redVal), var(--greenVal), var(--blueVal));
  padding: 15%;
  margin-left: 10%;
  border: 5px solid #5a0000;
}

.gauge-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gauge {
    position: relative;
    width: 300px;
    height: 20px;
    background-color: #333;
    border: 2px solid #fff;
    margin: 10px 0;
}

#gauge-y {
    width: 20px;
    height: 300px;
}

.bar {
    position: absolute;
    background-color: #ff0000;
}

#bar-x {
    height: 100%;
    background-color: #ff0000;
    left: 50%;
}

#bar-y {
    width: 100%;
    background-color: #00ff00;
    bottom: 50%;
}

#g-force-text {
    color: #fff;
    font-size: 24px;
    margin-top: 20px;
}

/*
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav button {font-size: 18px;}
}
*/
